django_rest_framework
django-admin-row-actions
django-inline-actions
django-admin-tools
django-material-admin
# nepali_date
django-jazzmin
nepali-datetime
pandas
# Reversing Admin URLS
# https://docs.djangoproject.com/en/3.1/ref/contrib/admin/#reversing-admin-urls
django<4.2