{% load static anup_tags %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link href="{% static 'dist/css/tabulator.min.css' %}" rel="stylesheet">
    <script type="text/javascript" src="{% static 'dist/js/tabulator.min.js' %}"></script>
    {% comment %} <script type="text/javascript" src="{% static 'dist/js/moment-with-locales.js' %}"></script>
    <link href="{% static '/dist/css/semantic-ui/tabulator_semantic-ui.min.css' %}" rel="stylesheet">
     {% endcomment %}
    <!-- Tabulator Semantic UI theme -->
<link href="https://unpkg.com/tabulator-tables@5.4.3/dist/css/tabulator_semantic-ui.min.css" rel="stylesheet">

<!-- Moment.js with locales -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"></script>

    <script src="{% static 'nepali.datepicker.v3.2.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>

    
    <style>
        @media print {
    {% comment %} body{
        width: 21cm;
        height: 29.7cm;
        margin: 10mm 10mm 10mm 10mm;
        /* change the margins as you want them to be. */
   } {% endcomment %}
   #print-table{
    display:none;
   }
}
    </style>
</head>
<body>
    <div>
        <button id="download-table" onclick="downloadXlsx()"> Download Table </button>
        </div>
    <div id="print-area">
        <h1 style="text-align: center;">{{page_title}}</h1>
        
        <div style='display:none' id="tableZero"></div>
        {% for  id in ids%}
        <div>
            {% comment %} <h2 style="text-align: center;">{{title}}</h2> {% endcomment %}
            <table id="example-table{{id}}" style="width:1100px">
        </div>
        {% endfor %}
    </table>
    </div>
    <div>
        <button id="print-table">Print Table</button>
    </div>
    

    {% comment %}
    <form action="{% url 'members:sendsms' %}" method=GET id="formSend">
        <input type="hidden" name="ids" id="ids">
        <button type="button" onclick="sendForm();">Send SMS</button>
    </form>
    {% endcomment %}
<script>
    function convertToNepaliBS(date_string){
        nep_date_obj = {
					"year": parseInt(date_string.split('-')[0]),
					"month": parseInt(date_string.split('-')[1]),
					"day": parseInt(date_string.split('-')[2])
				}
        return NepaliFunctions.ConvertDateFormat(  NepaliFunctions.AD2BS(nep_date_obj));
    };

let currencyparams = {
                decimal:".",
                thousand:",",
                symbol:"रु. ",
                symbolBefore:"p",
                precision:false,
            }

function total(values, data){
  return "TOTAL";
}

function final(values, data){
 try {
  return values[values.length -1 ];
 } catch (e) {

 } finally {
 }

}

function update_balance(table_obj){
    all_data = table_obj.getData();
    // console.log(all_data);
    all_data.sort(function(a,b){
        return   new Date(a.date_eng) - new Date(b.date_eng);
    });
    // console.log(all_data);
for (let index = 0; index < all_data.length; index++) {
    const element = all_data[index];

    try{
        balance_new = ((element.debit || 0) - (element.credit || 0) + all_data[index-1].balance || 0)
    }catch{
        balance_new = ((element.debit||0) - (element.credit||0))

    }
    all_data[index].balance = balance_new;
    table_obj.updateData([{id: element.id, balance: balance_new.toFixed(2) }]);
    // console.log(balance_new);

}
}
{% comment %} 
opening, invoices, payments
openings, sales, debits
{% endcomment %}




{% for id, opening, term_date, sales, payments, title, cash in accounts  %}

const tabledata{{id}} = [
    {
        date_eng:"{{term_date|date:'Y-m-d'}}",
        date_nep:convertToNepaliBS("{{term_date|date:'Y-m-d'}}"),
        description:"Opening Balance ",
        debit:{{opening | floatformat:2 | default_if_none:0}},
        id: "{{id}}"
    },
    {% for invoice in sales %}
    {
        date_eng:"{{invoice.date|date:'Y-m-d'}}",
        date_nep:convertToNepaliBS("{{invoice.date|date:'Y-m-d'}}"),
        description:"Bill no. {{invoice.vat_bill_no}}, Invoice no: {{invoice.id}} ",
        customer:"{{invoice.issued_for}}",
        debit:{{invoice.total | floatformat:2 | default_if_none:0 }},
        id:"inv{{invoice.id}}",
        credit: {{invoice.paid_amount}},
   
    },
    {% endfor %}
    {% for payment in payments %}
    {
        date_eng:"{{payment.date|date:'Y-m-d'}}",
        date_nep:convertToNepaliBS("{{payment.date|date:'Y-m-d'}}"),
        description:"{{payment.payment_mode|payment_mode}} Payment",
        customer:"{{payment.customer}}",
        credit:{{payment.amount | floatformat:2 | default_if_none:0}},
        id:"pay{{payment.id}}"
    },
    {% endfor %}
    {
        date_eng:"{{cash.date|date:'Y-m-d'}}",
        date_nep:convertToNepaliBS("{{cash.date|date:'Y-m-d'}}"),
        description:"Payment in Cash while Billing",
        credit:{{cash.amount | floatformat:2 | default_if_none:0}},
        id:"cash{{id}}"
    },
];

const table{{id}} = new Tabulator("#example-table{{id}}", {
    initialSort:[
        {column: "date_eng", dir:"asc"}
    ],
    printAsHtml:true,
    printHeader:"<h1>{{title}}<h1>",
    layout:"fitColumns",
    reactiveData: true,
    columns:[{ title:"{{title}}", hozAlign:"center",
        columns:[
            {formatter:"rowSelection", titleFormatter:"rowSelection", hozAlign:"center", width:20, headerSort:false, cellClick:function(e, cell){
                    cell.getRow().toggleSelect();
                }
            },
            { title: "(मिति इ.स.)" , field:"date_eng", formatter:        'datetime',  formatterParams:{
                inputFormat:"YYYY-MM-DD",
                outputFormat:"DD/MM/YYYY",
                invalidPlaceholder:"(invalid date)",
            }, hozAlign:"center"
            },
            { title: "(मिति)" , field:"date_nep", hozAlign:"center"},
            { title: "Description(विवरण)", field: "description", widthGrow:1, bottomCalc:total },
            { title: "Customer(ग्राहक)", field: "customer", widthGrow:2 },
            { title: "Debit (लिनु रकम)", field: "debit", hozAlign:"right",formatter:"money", formatterParams:currencyparams, bottomCalc:"sum", bottomCalcFormatterParams:currencyparams, bottomCalcFormatter:"money"},
            { title: "Credit(दिनु रकम)", field:"credit", hozAlign:"right", formatter:"money", formatterParams:currencyparams, bottomCalc:"sum", bottomCalcFormatterParams:currencyparams, bottomCalcFormatter:"money"},
            { title: "Balance(बाँकी रकम)", field:"balance" , hozAlign:"right", widthGrow:1.2, formatter:"money", formatterParams:currencyparams, bottomCalc:final, bottomCalcFormatterParams:currencyparams, bottomCalcFormatter:"money"},
        ]
        }
    ],
});
table{{id}}.setData(tabledata{{id}});

{% endfor %}

{% for id in ids %}
update_balance(table{{id}});
{% endfor %}



function getSelectedIds(){
    rows = table.getSelectedRows();
    var selectedIds = [];
    rows.forEach(element => {
        selectedIds.push(element.getData().id);
    });
    return selectedIds;
};

const table0 = new Tabulator("#tableZero", {
    layout: "fitDataFill",
    autoColumns: true,
  });

var sheets = {
    {% for title, id in titles_ids %} 
    "{{title}}": "#example-table{{id}}", {% endfor %}
    }

downloadXlsx = function(){
    table0.download("xlsx", "Data.xlsx", { sheets:sheets });
}

document.getElementById("print-table").addEventListener("click", function(){
    
    window.print();
    {% comment %} 
            divContents = document.getElementById("print-area").innerHTML;
            var a = window.open();
            a.document.write('<html>');
            a.document.write(document.getElementsByTagName("head")[0].outerHTML);
            a.document.write('<body >');
            a.document.write(divContents);
            a.document.write("<\/body><\/html>");
            if (a.print()){
                a.close();
            }; {% endcomment %}
            {% comment %} a.document.onload = ()=>{
                this.print();
            } {% endcomment %}
            // console.log(a)
            {% comment %} a.print(); {% endcomment %}
});
{% comment %}
var fieldEl = document.getElementById("filter-field");
var typeEl = document.getElementById("filter-type");
var valueEl = document.getElementById("filter-value");

//Custom filter example
function customFilter(data){
    return data.car && data.rating < 3;
}

//Trigger setFilter function with correct parameters
function updateFilter(){
  var filterVal = fieldEl.options[fieldEl.selectedIndex].value;
  var typeVal = typeEl.options[typeEl.selectedIndex].value;

  var filter = filterVal == "function" ? customFilter : filterVal;

  if(filterVal == "function" ){
    typeEl.disabled = true;
    valueEl.disabled = true;
  }else{
    typeEl.disabled = false;
    valueEl.disabled = false;
  }

  if(filterVal){
    table.setFilter(filter,typeVal, valueEl.value);
  }
}

//Update filters on value change
document.getElementById("filter-field").addEventListener("change", updateFilter);
document.getElementById("filter-type").addEventListener("change", updateFilter);
document.getElementById("filter-value").addEventListener("keyup", updateFilter);

//Clear filters on "Clear Filters" button click
document.getElementById("filter-clear").addEventListener("click", function(){
  fieldEl.value = "";
  typeEl.value = "=";
  valueEl.value = "";

  table.clearFilter();
});
{% endcomment %}
</script>
</body>
</html>
